@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* scrollbar-width: none;   */
    --main-color: #454591;
    --main-color2: white;
    scroll-behavior: smooth;
}
.nav-header{
    height: 80px;
    background-color: var(--main-color);
    padding: 5px 40px 5px 10px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    font-size: 18px;
}

.main-links li a{
    text-decoration: none;
    color: white;
}
.logo{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: white;
}
.logo img{
    height: 70px;
}
.btn-container{
    width: 13rem;
    height: 4rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#login-btn{
    color: white;
    background-color: var(--main-color);
    }
#register-btn{
    color: var(--main-color);
} 
#mid-container{
    height: 40rem;
    flex-direction: column;
}  
#mid-container h3{
    font-family: 'Bruno Ace', cursive;
    font-size: 4rem;
    line-height: 1.6;
    color: white;
}
.search-container{
    width: 35rem;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: left;
  
}
.search-container input{
    height: 100%;
    width: 88%;
    padding: 0px 16px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
}
.search-container div{
    color: white;
    font-size: 20px;
    margin-left: 3px;
    line-height: 2;
    font-family: 'Chakra Petch', sans-serif;
}
.main-container{
   height: 50rem;
   display: flex;
}
.info-container{
  height: 100%;  
  width: 18rem;
  /* border: 2px solid black; */

}
.info-container p{
text-align: center;
background-color: var(--main-color);
height: 49px;
font-size: 20px;
color: white;
padding: 10px;
}
.notice-container{
height: 21rem;
padding: 0px 11px 0px 26px;
color: #823333;
overflow: hidden;
border: 2px solid black;
line-height: 1.6;
}
.notice-container ul{
    animation: marquee 8s linear infinite;
    /* list-style-position: inside; */
}
.achiever-container{
    padding: 10px 20px;
    color: var(--main-color);
    overflow: hidden;
    height: 23.49rem;
    line-height: 2;
    font-size: 18px;
    border: 2px solid black;
    color: #3f6b48;
}
.achiever-container ol{
    animation: marquee 8s linear infinite;
    list-style-position: inside;
}
.ns-container{
   height: 100%;
   width: calc(100% - 18rem);
   /* background-color: brown; */
}
#national-scholarships{
    margin: 10px 0px 10px 92px;
    color: var(--main-color);
}
.scholarship-container{
 height: 95.1%;
 width: 100%;
margin-top: 11px;
 display: flex;
 flex-direction: column;
 overflow: scroll;
 scrollbar-width: none;  
     /*  hide scrollbar for firefox  */
 scroll-behavior: smooth;
 /* border: 2px solid black; */
 border-left: none;
 background-color: rgb(236, 228, 228);
}

.scholarship-item{
    color: white;
    background-color: #5959b4;
    width: 30rem;
    height: 16rem;
    padding: 8px;
    line-height: 1.6;
    border-radius: 10px;
}
.pair{
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.view-btn{
    margin-left: 22rem;
    color: var(--main-color);
}
.blank{
    font-weight: bold;
    font-size: 17px;
}
.scholarship-name{
    font-size: 21px;
}
.blank span{
    font-weight: lighter;
}
.description{
    height: 80px;
    width: 100%;
}
.main2-container{
    margin-top: 10rem;
}
.ins-container{
    height: 100%;
    width: calc(100% - 18rem);
    margin-top: 20px;
}
#international-scholarships{
    margin-left: 92px;
    color: var(--main-color);
}
.ads-container{
    margin-top: 59px;
    background-color: aqua; 
    height: 95.1%;
}
.footer-container{
    background-color: var(--main-color);
    color: white;
    height: 20rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.footer-links-container{
     /* margin-left: 2; */
}
.footer-links-container ul{
    list-style: none;
    
}
.footer-links-container li a{
    text-decoration: none;
    color: white;
    line-height: 2;
}
.copyright{
    margin-top: 13rem;
}
.login-container{
    background-color: var(--main-color);
    color: white;
    position: absolute;
    width: 20rem;
    height: 20rem;
    padding: 10px;
    top: 6rem;
    left: 70rem;
    border-radius: 10px;
    z-index: 10;
    /* display: none; */
}
.in-fld{
    margin-left: 15px;
    height: 34px;
    width: 165px; 
    outline: none;
    padding-left: 5px;
    color: var(--main-color);
}
.ep-container{
    margin-top: 20px;
}
#email{
    margin-left: 38px;
}
.forgot{
    margin-top: 20px;
    margin-left: 140px;
}
.l-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.tbtn{
    color: var(--main-color);
}
.fgt-link{
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.n-register{
    margin-top: 20px;
    margin-left: 10px;
}